body{background-color: rgb(170, 170, 253);
}
h1 {text-align: center;
h2 { margin-left: 30%;
}
h2 {border-width: 30%;
}
body{border-color: blueviolet;
     border-style: solid;
    border-left: 20%;
}
#imag1 {width: 50%;
margin-left: 20%;
border-style: solid;
border-color: azure;
border-width: 5px;
}